body{
  background-color: #0C0D0F;
}

header{
  height: 310px;
  background-color: #4C4C4C;
}

.logo{
  height: 210px;
  margin-top: 20px
}

.logobutton{
  border: none;
  background-color: transparent;
  height: 300px;
  width: 600px;
}

.block1{
  border: none;
  opacity: 1;
  height: 450px;
  color: white;
  font-size: 17px;
  background-color: transparent;
  font-family: "Palatino Linotype";
  font-weight: lighter;
  display: inline-block;
  position: relative;
  margin: 15px;
  overflow: hidden;
}

.block2{
  border: none;
  opacity: 1;
  height: 450px;
  color: white;
  font-size: 17px;
  background-color: transparent;
  font-family: "Palatino Linotype";
  display: inline-block;
  position: relative;
  margin: 15px;
  overflow: hidden;
}

.block3{
  border: none;
  opacity: 1;
  height: 450px;
  color: white;
  font-size: 17px;
  background-color: transparent;
  font-family: "Palatino Linotype";
  display: inline-block;
  position: relative;
  margin: 15px;
  overflow: hidden;
}

.photo1{
  -moz-transition: all 5s ease-out;
  -o-transition: all 5s ease-out;
  -webkit-transition: all 5s ease-out;
  width: 450px;
  cursor: pointer;
}

.photo2{
  -moz-transition: all 5s ease-out;
  -o-transition: all 5s ease-out;
  -webkit-transition: all 5s ease-out;
  width: 450px;
  cursor: pointer;
}

.photo3{
  -moz-transition: all 5s ease-out;
  -o-transition: all 5s ease-out;
  -webkit-transition: all 5s ease-out;
  width: 450px;
  cursor: pointer;
}

.photo1:hover{
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.3);
 -o-transform: scale(1.3);
}

.photo2:hover{
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.3);
 -o-transform: scale(1.3);
}

.photo3:hover{
 -webkit-transform: scale(1.3);
 -moz-transform: scale(1.3);
 -o-transform: scale(1.3);
}

.text1{
  padding-right:30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  width: 190px;
  float: right;
  letter-spacing: 7px;
  position	: absolute;
	top: 381px;
  left: 110px;
  cursor: pointer;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.text2{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  width: 190px;
  float: right;
  letter-spacing: 7px;
  position	: absolute;
	top: 381px;
  left: 110px;
  cursor: pointer;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.text3{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  width: 190px;
  float: right;
  letter-spacing: 7px;
  position	: absolute;
	top: 381px;
  left: 110px;
  cursor: pointer;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.hr1{
  background-color: white;
  color: white;
  height: 2px;
  margin-top: -1px;
}

.hr2{
  background-color: white;
  color: white;
  height: 0.01px;
  margin-top: 23px;
  margin-bottom: 15px;
}

.hdrbutton1{
  color: #0C0D0F;
  font-size: 21px;
  font-family: "Mistral";
  background-color: transparent;
  border: none;
  width: 100px;
  position: absolute;
  top: 280px;
  left: 30px;
  float: left;
  display: inline-block;
  padding-bottom: 20.8px;
  cursor: pointer;
}
.hdrbutton1:hover{
  border-bottom: 4px solid #FF0039;
  transition-duration: 3s;
}


.hdrbutton2{
  color: #0C0D0F;
  font-size: 21px;
  font-family: "Mistral";
  background-color: transparent;
  border: none;
  width: 100px;
  position: absolute;
  top: 280px;
  left: 150px;
  float: left;
  display: inline-block;
  padding-bottom: 20.8px;
  cursor: pointer;
}
.hdrbutton2:hover{
  border-bottom: 4px solid #FF0039;
  transition-duration: 3s;
}


.hdrbutton3{
  color: #0C0D0F;
  font-size: 21px;
  font-family: "Mistral";
  background-color: transparent;
  border: none;
  width: 100px;
  position: absolute;
  top: 280px;
  left: 270px;
  float: left;
  display: inline-block;
  padding-bottom: 20.8px;
  cursor: pointer;
}
.hdrbutton3:hover{
  border-bottom: 4px solid #FF0039;
  transition-duration: 3s;
}


.hdrbutton4{
  color: #0C0D0F;
  font-size: 21px;
  font-family: "Mistral";
  background-color: transparent;
  border: none;
  width: 100px;
  position: absolute;
  top: 280px;
  right: 270px;
  float: right;
  display: inline-block;
  padding-bottom: 20.8px;
  cursor: pointer;
}
.hdrbutton4:hover{
  border-bottom: 4px solid #FF0039;
  transition-duration: 3s;
}


.hdrbutton5{
  color: #0C0D0F;
  font-size: 21px;
  font-family: "Mistral";
  background-color: transparent;
  border: none;
  width: 100px;
  position: absolute;
  top: 280px;
  right: 150px;
  float: right;
  display: inline-block;
  padding-bottom: 20.8px;
  cursor: pointer;
}
.hdrbutton5:hover{
  border-bottom: 4px solid #FF0039;
  transition-duration: 3s;
}


.hdrbutton6{
  color: #0C0D0F;
  font-size: 21px;
  font-family: "Mistral";
  padding-bottom: 30px;
  background-color: transparent;
  border: none;
  width: 100px;
  position: absolute;
  top: 280px;
  right: 30px;
  float: right;
  display: inline-block;
  padding-bottom: 20.8px;
  cursor: pointer;
}
.hdrbutton6:hover{
  border-bottom: 4px solid #FF0039;
  transition-duration: 3s;
}

.header{
  width: 100%;
  background-color: #4C4C4C;
  height: 315px;
  border: none;
}
